app component
<p>
	some text
</p>
<app-tab-group [(activeIndex)]="currentIndex">
	<app-tab-panel title="First tab">First tab content</app-tab-panel>
	<app-tab-panel title="Second tab">Second tab content</app-tab-panel>
	<app-tab-panel title="Third tab">Third tab content</app-tab-panel>
	<app-tab-panel title="Fourth tab">Fourth tab content</app-tab-panel>
</app-tab-group>
<app-tab-bs-group [(activeIndex)]="currentIndex">
	<app-tab-panel title="First tab">First tab content</app-tab-panel>
	<app-tab-panel title="Second tab">Second tab content</app-tab-panel>
	<app-tab-panel title="Third tab">Third tab content</app-tab-panel>
	<app-tab-panel title="Fourth tab">Fourth tab content</app-tab-panel>
</app-tab-bs-group>
<br />
<br />
<div class="card mx-4">
	<div class="card-header">
		<br />
		you have selected
		<ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
	</div>
	<div class="card-body">
		There are
		<ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
		were selected.
	</div>
	<div class="card-footer">
		You have selected
		<ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
	</div>
</div>
<ng-template #counterTmpl>
	<span class="badge badge-primary">{{ counter }}</span> items
</ng-template>

<ng-template #linkTemplate let-l>
	<!-- <ng-template #linkTemplate let-l="link"> -->
	<h4>
		{{ l }}
	</h4>
</ng-template>
<app-tabs [navs]="navs" [linkTemplate]="linkTemplate"></app-tabs>

<br />
<br />
<hr />
<app-hello></app-hello>
<button (click)="currentProgress = currentProgress + 1">increase</button>
<app-progress-bar></app-progress-bar>
<br />
<app-progress-bar
	[progress]="currentProgress"
	[backgroundColor]="'#9e9e9e'"
	[progressColor]="'#2e8b57'"
>
</app-progress-bar>
<br />
<app-author-list></app-author-list>
<button (click)="showLast = !showLast">show last</button>
<!-- <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle> -->
<app-toggle [(checked)]="isChecked"></app-toggle>
<ng-container *ngIf="showLast">
	<app-toggle [(checked)]="isChecked"></app-toggle>
</ng-container>
<br />
<!-- <button #toggleButton (click)="toggleComp.toggle()">toggle</button> -->
<input #nameInput type="text" />
<br />
<br />
<app-toggle [(checked)]="questions.question1">
	<h3 class="header">Header 1</h3>
	<label for="">Question 1</label>
	<p>content 1</p>
</app-toggle>
<app-toggle [(checked)]="questions.question2">
	<h3 class="header">Header 2</h3>
	<span ngProjectAs="label" for="">Question 2</span>
	<p>content 2</p>
	<button>skip</button>
</app-toggle>
<br />
